/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  padding: 240px 0;
  background-position: 0 0;
}
section.module.parallax h1 {
  color: #1e1e1e;
  font-size: 48px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px white;
}
section.module.parallax-1 {
  background-image: url("../img/wasting.jpg");
}
section.module.parallax-2 {
  background-image: url("../img/toy set copy.jpg");
}
section.module.parallax-3 {
  background-image: url("../img/clear-the-stage copy.jpg");
}

section.module.about-parallax {
  background-image: url("../img/background copy.jpg");
}

section.module.about-parallax {
  padding: 100px 0;
  background-position: 0 0;
}

@font-face {
    font-family: Ostrich;
    src: url(ostrich-regular.ttf);
}

/* ============================================================
  MY STYLES
============================================================ */

.nav-item{
  color: #fff;
  display: inline-block;
  font-family: Ostrich;
  font-size: 20px;
  padding: 0 20px;
}

.nav-item a{
  text-decoration: none;
  color: inherit;
}

.nav-item img{
  width: 50px;
  position: absolute;
  left: 15px;
  top: 15px;
}

.nav-container{
  text-align: center;
}

.header{
  font-family: Ostrich;
  color: white;
  text-align: center;
  font-size: 80px;
}

.subheader{
  font-family: Open Sans;
  color: white;
  text-align: center;
  margin-top: -10px;
  font-weight: 300;
}

.info-header{
  font-family: Ostrich;
  text-align: center;
  font-size: 50px;
}

.info-header-2{
  font-family: Ostrich;
  text-align: center;
  font-size: 40px;
}

p{
  font-family: Open Sans;
}

iframe{
  width: 352px;
  height: 198px;
  display: block;
  margin: 0 auto;
}

#banner{
  font-family: Ostrich;
  color: white;
  font-size: 60px;
  margin-left: 5px;
}

.social-item{
  display: inline-block;
  margin: 10px;
  opacity: .4;
}

.social-item:hover{
  opacity: .8;
}

.social-item img{
  width: 50px;
}

#credits{
  color: white;
  padding: 0 30px;
  opacity: .4;
  font-family: Open Sans;
  font-size: 8px;
}

#christmas img{
  width: 350px;
  display: block;
  margin: 0 auto;
}

.media-item{
  margin-bottom: 20px;
}

.read-more{
  font-family: Open Sans;
  text-align: center;
}

/* ============================================================
ABOUT PAGE SPECIFICS
============================================================ */

#quote{
  font-style: italic;
}

.roster{
  text-align: center;
}



/* ============================================================
  MEDIA QUERY 600-960px
============================================================ */

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax {
    padding: 200px 0;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }

  .header{
    font-size: 125px;
  }

  .subheader{
    font-size: 16px;
    margin-top: -30px;
  }

  .info-header{
    font-size: 60px;
  }

  .info-header-2{
    font-size: 50px;
  }

  iframe{
    width: 560px;
    height: 315px;
    display: block;
    margin: 0 auto;
  }

  .media-item{
    position: relative;
    margin-left: 40px;
  }

  #christmas img{
    display: block;
    width: 540px;
    margin: 0 auto;
  }

  .nav-container{
    text-align: right;
  } 

  section.module.about-parallax {
    padding: 100px 0;
    background-position: 0 0;
  }

}

/* ============================================================
  MEDIA QUERY <960px
============================================================ */

@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }

  .header{
    font-size: 150px;
  }

  .subheader{
    font-size: 20px;
    margin-top: -40px;
  }

  .info-header{
    font-size: 75px;
  }

  .info-header-2{
    font-size: 60px;
  }

  .media-item{
    position: relative;
    margin-left: 40px;
  }

  iframe{
    width: 800px;
    height: 450px; 
  }

  #christmas img{
    width: 900px;
  }

  .nav-container{
    text-align: right;
  }

  section.module.about-parallax {
    padding: 100px 0;
    background-position: 0 0;
  }


}

