html{
	height: 100%;
	overflow: hidden;
}

body{
	margin: 0;
 	perspective: 1px;
 	transform-style: preserve-3d;
 	height: 100%;
 	overflow-y: scroll;
 	overflow-x: hidden;
}

@font-face {
    font-family: Ostrich;
    src: url(ostrich-regular.ttf);
}

a {
	color: #ffffff;
  text-decoration: none;
}
.scroll {
	padding: 10vh 10%;
	position: relative;
	min-height: 100vh;
	width: 100vw;
	transform-style: inherit;
}

.scroll, .scroll:before {
	background: 50% 50% / cover;  
}

.scroll:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left:0;
	right:0;
}

#container{
	position: relative;

}

.nav-pills {
	font-family: Ostrich;
	border-radius: 4px;
	position: absolute;
	left: calc(33% - 240px);
	top: calc(60%);

}

.nav-pills>li {
	display: inline;
	float: left;
}

.nav-pills>li>a {
	padding: 10px 15px; 
	display: block;
  width: 60px;
  border-radius: 15px;
  border: 2px solid #ffffff;
  margin: 15px;
  text-align:center;
}

.nav-pills>li>a:hover {
	padding: 10px 15px; 
	display: block;
  width: 60px;
  color: #000000;
  background-color: #ffffff;
}

.nav-circles{
	z-index: 10;
	position: fixed;
	left: 95%;
	top: calc(50% - 20px);
}

.circle{
	padding: 5px;
	height: 15px;
}

.circle img{
	height: 15px;
}

.circle:hover{
	opacity: .5;
}

.first-slide:before{
	background: url(../img/wasting.jpg);
	background-size: 100%;
	transform: translateZ(-1px) scale(2);
	z-index:-1;
}

.abba-modern{
	font-family: Ostrich;
	font-size: 8em;
	color: #ffffff;
	position: absolute;
	left: calc(50% - 383px);
	top: calc(20%);
}

.sub-header{
	font-family: Ostrich;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 2em;
	position: absolute;
	left: calc(50% - 262px);
	top: calc(20% + 130px);
}

.sub {
	font-size: 1em;
	left: calc(50% - 248px);
	top: calc(20% + 170px);
}

.about{
/*	background: url(../img/contemp.jpg);
	background-size: 100%;
	transform: translateZ(-1px) scale(2);
	z-index: 0;*/
	background: #ffffff
}

.about-header{
	font-family: Ostrich;
	font-size: 4em;
	font-weight: 400;
	position: absolute;
	left: calc(50% - 177px);
	top: 100px;
}

.collage{
	position: absolute;
	left: calc(50% - 494px);
	top: 180px;
}

.about-description{
	font-family: Open Sans;
	font-size: 14px;
	width: 750px;
	line-height: 200%;
	position: absolute;
	left: calc(50% - 494px);
	top: 380px;
	font-weight: 300;
}

.media:before{
	background: url(../img/joy.jpg);
	background-size: 100%;
	transform: translateZ(-1px) scale(2);
	z-index:-1;
}

.media {
}

.media-header{
	color: #ffffff;
	font-family: Ostrich;
	font-size: 4em;
	position: absolute;
	left: calc(50% - 171px);
	top: 100px
}

.media-description{
	color: #ffffff;
	font-family: Open Sans;
	width: 750;
	position: absolute;
	left: calc(50% - 494px);
	top: 180px;
	font-weight: 300;
	font-size: 14px;
	line-height: 200%;
}

.media-item-container{
	float: left;
	padding: 40px;
}

.media-item-header{
	clear: both;
	color: #ffffff;
	font-family: Ostrich;
	font-size: 2em;
	position: relative;
	top: 230px;
	text-align: center;
}

.media-item{
	position: relative;
	top: 250px;
}

.audio-title{
	font-family: Open Sans;
	font-size: 12px;
	color: #ffffff;
	position: relative;
	top: 260px;
	font-weight: 300;
	padding-bottom: 50px;
}
